/*
 * Reenvio del trackball desde la mitad derecha (periferica) a la izquierda
 * (central). Ambos firmwares deben conocer el mismo zmk,input-split.
 */

/ {
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&trackball_split>;
    };
};
